*{
    margin:0;
    padding: 0;
}

body{
    font-family: Arial;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #ffcc00;

}

header h1 {
    text-shadow: 1px 1px white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 20px

}

button:hover{
    cursor:pointer;
    background-color: #222222;
}

ol {
    margin: 10px;


}

.results-zone{
    margin-top: 20px;
    width: 70%;
    height: 200px;
    border: 3px dotted black;
    
}